<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= documentTitle %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <%- include('../includes/header.ejs') -%>
    <section id="form_container">    
        <h1>
            <%= name %>
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Day</th>
                    <th scope="col">Start AT</th>
                    <th scope="col">End At</th>
                     <!-- <th scope="col">Password</th> -->
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < schedulesLength; i++) { %>
                <tr>
                    <th scope="row"><%= schedules[i].user_id %>
                    </th>
                    <td>
                        <%= schedules[i].day %>
                    </td>
                    <td>
                        <%= schedules[i].start_at %>
                    </td>
                    <td>
                        <%= schedules[i].end_at %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </section>
    <%- include('../includes/footer.ejs') -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</body>

</html>